<h1>更新履歴</h1>
<ul>
  <% @versions.each do |version| %>
    <% if version.event == "update" && version.reify %>
      <%  change = version.changeset %>
        <%=  change[:updated_at][1].year %>年<%=  change[:updated_at][1].month %>月<%=  change[:updated_at][1].day %>日<%=  change[:updated_at][1].hour %>時<%=  change[:updated_at][1].min %>分
        <br>
        <a onclick="get_data(<%= version.reify.id %>)" href="#" id="<%= version.reify.cityid %>">
          <%= version.reify.cityname %>の「<%=  @hservices_name_array.find{|i| i["keyName"] == change.to_a[0][0] }["serviceName"] %>」を
          <%=  change.to_a[0][1][0] %>から<%=  change.to_a[0][1][1] %>に変更しました
        </a>
        <br>
    <% elsif version.event == "create" %>
      <%  change = version.changeset %>
        <% if version.item_id > @oldVersionCount %>
          <% time = change.to_a[10][1][1] %>
          <%=  time.year %>年<%=  time.month %>月<%=  time.day %>日<%=  time.hour %>時<%=  time.min %>分
          <br>
          <a onclick="get_data(<%= change.to_a[9][1][1] %>)" href="#" id="<%= change.to_a[1][1][1] %>">
            <%= change.to_a[0][1][1] %>の連絡先を新規作成しました
          </a>
          <br>
      <% end %>
    <% elsif version.event == "destroy" %>
      <% @year = version.object[version.object.index("created_at")+12...version.object.index("created_at")+16] %>
      <% @month = version.object[version.object.index("created_at")+17...version.object.index("created_at")+19] %>
      <% @day = version.object[version.object.index("created_at")+20...version.object.index("created_at")+22] %>
      <% @id = version.object[version.object.index("hvalue_id")+11...version.object.index("created_at")-1] %>
      <% @cityid = version.object[version.object.index("cityid")+8...version.object.index("cityid")+16] %>
      <% @cityname = version.object[version.object.index("cityname")+10...version.object.index("cityid")-1] %>
          <%=  @year %>年<%=  @month %>月<%=  @day %>日
          <br>
          <a onclick="get_data(<%= @id %>)" href="#" id="<%= @cityid %>">
            <%= @cityname %>の連絡先を削除しました
          </a>
          <br>
    <% end %>
  <% end %>
</ul>
<script type="text/javascript">
    function get_data(id){
            $.get( "/hokkaido/" + id + "/edit", function( data ) {
            $( "#product-modal" ,parent.document ).html( data )
            $("#product-modal" ,parent.document).modal("show")
        })
    }
    $(document).ready(function(){
      var cityid;
      var cityColor;
        $("a").mouseover(function(){
          cityid = $(this).attr("id")
          cityColor = $(".hokkaido."+cityid ,parent.document).css("fill")
            $(".hokkaido."+cityid ,parent.document).attr("fill", "red");
        });
        $("a").mouseout(function(){
            $(".hokkaido."+cityid ,parent.document).attr("fill", cityColor);
        });
    });
</script>
