<h1>自治体情報一覧</h1>
<p>
  Download(参考HP：http://ruby-rails.hatenadiary.com/entry/20141119/1416398472):
  <%= link_to "CSV", hokkaido_csv_path(format: "csv"), class: "btn btn-large btn-primary" %>
  <%= link_to "Excel", hokkaido_csv_path(format: "xls"), class: "btn btn-large btn-primary" %>
</p>
<p>
  ↓データ
</p>

<table>
  <thead>
    <tr>
      <th>EDIT</th>
      <th>ID</th>
      <th>cityid</th>
      <th>振興局</th>
      <th>自治体名</th>
      <th>ttl</th>
      <th>gw</th>
      <th>frs</th>
      <th>ib</th>
      <th>ft</th>
      <th>rs</th>
      <th>ss</th>
      <th>eac</th>
      <th>eps</th>
      <th>bu</th>
      <th>pa</th>
      <th>et</th>
      <th>mail</th>
      <th>vennder</th>
      <th>ns</th>
      <th>cms</th>
      <th>ca</th>
      <th>fn</th>
      <th>ps</th>
    </tr>
  </thead>

  <tbody>
    <% @hvalues.each do |hvalue| %>
      <tr>
        <td><%= link_to 'Edit', edit_hokkaido_path(hvalue) %></td>
        <td><%= hvalue.id %></td>
        <td><%= hvalue.cityid %></td>
        <td><%= hvalue.bureau %></td>
        <td><%= hvalue.cityname %></td>
        <td><%= hvalue.ttl %></td>
        <td><%= hvalue.gw %></td>
        <td><%= hvalue.frs %></td>
        <td><%= hvalue.ib %></td>
        <td><%= hvalue.ft %></td>
        <td><%= hvalue.rs %></td>
        <td><%= hvalue.ss %></td>
        <td><%= hvalue.eac %></td>
        <td><%= hvalue.eps %></td>
        <td><%= hvalue.bu %></td>
        <td><%= hvalue.pa %></td>
        <td><%= hvalue.et %></td>
        <td><%= hvalue.mail %></td>
        <td><%= hvalue.vender %></td>
        <td><%= hvalue.ns %></td>
        <td><%= hvalue.cms %></td>
        <td><%= hvalue.ca %></td>
        <td><%= hvalue.fn %></td>
        <td><%= hvalue.ps %></td>
      </tr>
    <% end %>
  </tbody>
</table>
