<% provide(:title, "Edit hokkaido_value") %>

<div class="row">
  <p class="col-md-4">①自治体名を検索</p>
  <div class="col-md-4">
    <%= form_tag hokkaido_edit2_path, :method => 'get' do %>
       <%= text_field_tag :search, params[:search] %>
       <%= submit_tag "検索", :n03_004 => nil, class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if params.has_key?(:search) then %>
    <div class="col-md-4">
      <tbody>
        <% @search.each do |hvalue| %>
          <tr>
             <td><%= link_to hvalue.N03_004, edit_hokkaido_path(hvalue) %></td>
          </tr>
        <% end %>
      </tbody>
    </div>
  <% end %>
</div>

<div class="row">
  <p class="col-md-4">②179の自治体から選択</p>
  <div class="col-md-4">
    <%= form_for @hvalue, :url => {:action => 'move_edit'} do |f| %>
      <%= f.label "自治体名" %>
      <%= f.collection_select :N03_004, Hvalue.all, :N03_004, :N03_004 %>
      <%= f.submit "自治体の情報を取得", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <p class="col-md-4">③振興局で絞る</p>
  <div class="col-md-4">
    <%= form_for @bureau, :url => {:action => 'edit2'} do |f| %>
      <%= f.label "振興局を選択" %>
      <%= f.select :bureau, @bureau_for_select %>
      <%= f.submit "振興局に含まれる自治体を取得", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if params.has_key?(:hvalue) then %>
    <div class="col-md-4">
      <tbody>
        <p>選択した振興局：<%= params[:hvalue][:bureau] %></p>
        <% @bureau_test.each do |hvalue| %>
          <tr>
             <td><%= link_to hvalue.N03_004, edit_hokkaido_path(hvalue) %></td>
          </tr>
        <% end %>
      </tbody>
    </div>
  <% end %>
</div>