<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<body style = "padding-top: 0px; background-color: transparent;" >
  <% provide(:title, "自治体情報編集") %>
  <h1 style = "margin-top: 20px; margin-bottom: 10px;"><%= @hvalue[:N03_004] %></h1>
  <%= form_for @hvalue, url: {:action => 'update'}, html: {class: "form-horizontal center"} do |f| %>
    <div class="form-group form-group-xs">
      <%= f.label "自治体名(固定)", {class: 'col-xs-6 control-label', style: "width: 154px; background-color:transparent;"} %>
      <div class="col-xs-4">
        <%= f.select :N03_004, [@hvalue[:N03_004]], {:selected => @hvalue[:N03_004]}, {:class => "form-control", style: "width: 116px; height: 2.2em; background-color:transparent;"} %>
      </div>
    </div>
    <% @column.each do |i| %>
      <div class="form-group form-group-xs">
        <%= f.label "サービス名: #{i}", {class: 'col-xs-6 control-label', style: "width: 154px;"}%>
        <div class="col-xs-4">
          <%= f.select i, @value, {:selected => @hvalue[i]}, {class: "form-control", style: "width: 116px; height: 2.2em; background-color:transparent;"} %>
        </div>
      </div>
    <% end %>
    <input type="submit" name="commit" value="変更する" class="btn btn-primary center-block" >
  <% end %>
  <script type="text/javascript">
    function _submit(){
     parent.location.reload();
    }
  </script>
</body>
