<div class="modal-dialog">
  <div class="modal-content" style="width:1100px; margin-left: -250px;">
    <%= form_for @hvalue, url: {:action => 'update'}, html: {class: "form-horizontal center"}, remote: true do |f| %>
    <%= f.hidden_field :cityname, :value => @hvalue.cityname %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= @hvalue.cityname %></h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active all-space"><a href="#tab1" data-toggle="tab">自治体情報</a></li>
          <li class="all-space"><a href="#tab2" data-toggle="tab">編集</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>サービス</th>
                    <th>担当課</th>
                    <th>担当者</th>
                    <th>電話番号</th>
                    <th>mail</th>
                    <th>備考欄</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @hcontact.each do |hcontact| %>
                    <tr>
                      <td><%= hcontact.service %></td>
                      <% if hcontact.department == "※1" %>
                      <% hcontact.department = "※電子申請(＝共同システム運用保守)は、協議会事務局（北海道）に連絡" %>
                      <% elsif hcontact.department == "※2" %>
                      <% hcontact.department = "公会計(改訂・町村会,基準・町村会)の契約窓口は北海道町村会。" %>
                      <% end %>
                      <td><%= hcontact.department %></td>
                      <td><%= hcontact.person %></td>
                      <td><%= hcontact.phone %></td>
                      <td><%= mail_to hcontact.mailAddress %></td>
                      <td><%= hcontact.memo %></td>
                      <td><%= link_to '編集', "#", class: 'btn btn-info btn-xs btn-block', onclick: "editContactModal(#{hcontact.id})" %>
                          <%= link_to "削除", hcontact, method: :delete, data: { confirm: "この連絡先を削除しますか?", id: hcontact.id }, class: 'btn btn-warning btn-xs btn-block' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="col-md-6">
                <div>
                  <p><%= @hvalue.cityname %>の備考欄</p>
                  <%= f.text_area :memo_service, :value => @hvalue.memo_service, :size => "60x15" %>
                </div>
              </div>
              <div  class="col-md-6">
                <p><%= @hvalue.cityname %>の更新履歴</p>
                <% @versions.each do |version| %>
                  <%  change = version.changeset %>
                  <% if version.reify %>
                    <% if @hvalue.cityname == version.reify.cityname %>
                      <% time = change.to_a[1][1][1] %>
                      <%=  time.year %>年<%=  time.month %>月<%=  time.day %>日<%=  time.hour %>時<%=  time.min %>分
                      「<%=  @hservices.find_by(keyName: change.to_a[0][0]).serviceName %>」を<%=  change.to_a[0][1][0] %>から<%=  change.to_a[0][1][1] %>に変更しました
                      <br>
                  <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2">
            <div class="row">
            <p><%= @hvalue.cityname %>の契約状況</p>
            <div class="col-md-6">
              <h4>HARP基盤関連</h4>
              <div class="field">
                <div class="form-group form-group-xs">
                  <% for i in @hservices.where(kibanRelation: 1) do %>
                    <div class="col-md-6">
                      <%= f.label i.serviceName, {class: 'control-label', style: "width: 180px;"}%>
                    </div>
                    <div class="col-md-6">
                      <%= f.select i.keyName, @hvalues.uniq.pluck(i.keyName), {:selected => @hvalue[i.keyName]}, {class: "form-control", style: "width: 180px; height: 2.2em; background-color:transparent; text-align-last:center;"} %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4>HARP基盤関係なし</h4>
                <div class="field">
                  <div class="form-group form-group-xs">
                  <% for i in @hservices.where(kibanRelation: 0) do %>
                    <div class="col-md-6">
                      <%= f.label i.serviceName, {class: 'control-label', style: "width: 180px;"}%>
                    </div>
                    <div class="col-md-6">
                      <%= f.select i.keyName, @hvalues.uniq.pluck(i.keyName), {:selected => @hvalue[i.keyName]}, {class: "form-control", style: "width: 180px; height: 2.2em; background-color:transparent; text-align-last:center;"} %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "変更する", :class => "btn btn-primary", :onclick => "_submit()" %>
      </div>
    <% end %>
  </div>
</div>
  <script type="text/javascript">

    function editContactModal(hvalueId){
            $.get( "/hcontact/" + hvalueId + "/edit", function( data ) {
            $("#product-modal").html( data )
            $("#product-modal").modal("show")
        })
    }
    function _submit(){
                var url = "<%= @iframeURL %>"
                frames[0].location.href = url;
              }
  </script>
