<% provide(:title, 'All users') %>
<h1>All users</h1>

<table>
  <thead>
    <tr>
      <th>cityname</th>
      <th>サービス</th>
      <th>担当者</th>
      <th>振興局</th>
      <th>担当課</th>
      <th>mail</th>
      <th>電話番号</th>
    </tr>
  </thead>
  <tbody>
    <% @hcontact.each do |hcontact| %>
      <tr>
	      <td><%= hcontact.cityname %></td>
	      <td><%= hcontact.service %></td>
	      <td><%= hcontact.person %></td>
	      <td><%= hcontact.bureau %></td>
	      <td><%= hcontact.department %></td>
	      <td><%= mail_to hcontact.mail %></td>
	      <td><%= hcontact.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>