<div class="container">
  <h1>更新履歴情報</h1>
  <ul>
    <% @versions.each do |version| %>
    <%  change = version.changeset %>
      <% if change.has_key?(:updated_at) %>
        <%=  change.to_a[1][1][1] %> :
        <%= version.reify.cityname %>の<%=  change.to_a[0][0] %>を
        <%=  change.to_a[0][1][0] %>から<%=  change.to_a[0][1][1] %>に変更しました
        <br>
    <% end %>
    <% end %>
  </ul>
</div>
参考URL: http://www.sitepoint.com/versioning-papertrail/
