<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<body style = "padding-top: 0px; background-color: transparent;" >
<<<<<<< HEAD
    <h1>更新履歴情報</h1>
=======
    <h1>更新履歴</h1>
>>>>>>> new_branch_name
    <ul>
      <% @versions.each do |version| %>
      <%  change = version.changeset %>
        <% if version.reify %>
            <% time = change.to_a[1][1][1] %>
            <%=  time.year %>年<%=  time.month %>月<%=  time.day %>日<%=  time.hour %>時<%=  time.min %>分
            <br>
          <%= version.reify.cityname %>の<%=  change.to_a[0][0] %>を
          <%=  change.to_a[0][1][0] %>から<%=  change.to_a[0][1][1] %>に変更しました
          <br>
      <% end %>
      <% end %>
    </ul>
<<<<<<< HEAD
</body>
=======
</body>
>>>>>>> new_branch_name
