<% unless @hvalue %>
  <div class="modal-dialog">
    <div class="modal-content" style="">
      <%= form_tag '/hcontact/new', :method => 'get', remote: true  do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">連絡先の作成</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "自治体検索", :cityname => nil, class: "btn btn-primary" %>
              <% if params.has_key?(:search) then %>
                <div>
                  <tbody>
                    <% @search.each do |hvalue| %>
                      <tr>
                      <td><%= link_to hvalue.cityname, "#", onclick: "createContactModal(#{hvalue.id})" %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="modal-dialog">
    <div class="modal-content" style="width:1100px; margin-left: -250px;">
      <%= form_for (@hcontact), url: {:controller => 'hcontact', :action => 'create'} do |f| %>
      <%= f.hidden_field :hvalueId, :value => @hvalue.id %>
      <%= f.hidden_field :bureau, :value => @hvalue.bureau %>
      <%= f.hidden_field :cityname, :value => @hvalue.cityname %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= @hvalue.cityname %></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= f.label "サービス" %>
            <%= f.text_field :service, class: 'form-control' %>

            <%= f.label "担当課" %>
            <%= f.text_area :department, :size => "60x2", class: 'form-control' %>

            <%= f.label "担当者" %>
            <%= f.text_area :person, :size => "60x5", class: 'form-control' %>

            <%= f.label "電話番号" %>
            <%= f.text_area :phone, :size => "60x5", class: 'form-control' %>
            
            <%= f.label "mail" %>
            <%= f.text_area :mail, :size => "60x5", class: 'form-control' %>

            <%= f.label "備考欄" %>
            <%= f.text_area :memo, :size => "60x5", class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "作成する", :class => "btn btn-primary", :onclick => "_submit()" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
    function createContactModal(hvalueId){
            $.get( "/hcontact/new?id=" + hvalueId, function( data ) {
            $("#product-modal").html( data )
            $("#product-modal").modal("show")
        })
    }

  function _submit(){
              var url = "<%= @iframeURL %>"
              frames[0].location.href = url;
            }
</script>